<h2>Novo Estudante</h2>

<!-- Utiliza um render para reutilizar o form em mais de uma página -->
<%= form_for @student, url: students_path, html: { method: :post } do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Voltar', students_path %>
