<h3 class="title">Dados do Curso</h3>
<!-- Mostra os dados do curso já salvo no banco -->
<table class="table table-striped">
  <tbody>
    <tr><td>Nome do Curso: </td><td><%= @course.name %></td></tr>
    <tr><td>Descrição do Curso:</td><td><%= @course.description %></td></tr>
    <tr><td>Status do Curso:</td>
      <td>
        <% if @course.status == 1 %>
          Ativo
        <% else %>
          Inativo
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'Voltar', courses_path %>
